# Project exclude paths
.env
/cmake-build-debug/
/build/
/build-*/
/.cache/
CMakeUserPresets.json
compile_commands.json
*.o
*.a
*.so
*.dylib
*.pyd
__pycache__/
.pytest_cache/
*.egg-info/
dist/
.venv/
venv/
